consumer-service/src/main/resources/wsdl/provider.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://ikh.com"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://ikh.com"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://ikh.com">

<!--  need to auto flatten the xsds to wsdl  -->
    <wsdl:types>
        <xs:schema targetNamespace="http://ikh.com"
                   elementFormDefault="qualified"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <!-- Inlined content from users/users.xsd -->
            <xs:element name="CreateUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="surname" type="xs:string"/>
                        <xs:element name="job" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="UserCreatedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="greeting" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <wsdl:portType name="UserManagement">
        <wsdl:operation name="CreateUser">
            <wsdl:input message="tns:CreateUserRequest"/>
            <wsdl:output message="tns:UserCreatedResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:message name="CreateUserRequest">
        <wsdl:part name="parameters" element="tns:CreateUserRequest"/>
    </wsdl:message>

    <wsdl:message name="UserCreatedResponse">
        <wsdl:part name="parameters" element="tns:UserCreatedResponse"/>
    </wsdl:message>

    <wsdl:binding name="UserManagementSoap11" type="tns:UserManagement">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateUser">
            <soap:operation soapAction="http://ikh.com/CreateUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="UserManagementService">
        <wsdl:port binding="tns:UserManagementSoap11" name="UserManagementSoap11">
            <soap:address location="http://localhost:8085/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>